.DS_Store
public/data/tplcache/
public/data/sessions*
public/data/cache/
public/data/common.inc.php
public/data/config.cache.bak.php
public/data/config.cache.inc.php
public/install/install_lock.txt
public/install/index.php.bak
public/install/index.html
public/install/module-install.php.bak
public/a/*/
public/uploads/allimg/*
public/.txt
public/data/enums/
public/index.html
public/data/admin/
public/data/module/
public/uploads/*.php
public/data/time.lock.inc
public/m/index.html
public/uploads/userup
public/uploads/20*
public/data/mysqli_error_trace.inc
public/uploads/litimg/*
public/special/*.html
*.bat
public/data/backupdata/*
public/a/*.html
public/data/mkall_cache_*.php
public/data/payment/cod.php
public/freelist/
public/data/rss/*
public/data/rssmap.html
public/data/sitemap.html
public/data/js/
public/data/vote/*.js
public/data/module/*.xml
public/data/*.db
public/uploads/soft/*/
