.DS_Store
data/tplcache/
data/sessions*
data/cache/
data/common.inc.php
data/config.cache.bak.php
data/config.cache.inc.php
public/install/install_lock.txt
public/install/index.php.bak
public/install/index.html
public/install/module-install.php.bak
public/a/*/
public/uploads/allimg/*
public/.txt
data/enums/
public/index.html
data/admin/
data/module/
public/uploads/*.php
data/time.lock.inc
public/m/index.html
public/uploads/userup
public/uploads/20*
data/mysqli_error_trace.inc
public/uploads/litimg/*
public/special/*.html
*.bat
data/backupdata/*
public/a/*.html
data/mkall_cache_*.php
data/payment/cod.php
public/freelist/
data/rss/*
data/rssmap.html
data/sitemap.html
data/js/
data/vote/*.js
data/module/*.xml
data/*.db
public/uploads/soft/*/
