.DS_Store
src/data/tplcache/*.inc
src/data/tplcache/*.txt
src/data/sessions*
src/data/cache/*.inc
src/data/cache/*.dat
src/data/cache/*/
src/data/common.inc.php
src/data/config.cache.bak.php
src/data/config.cache.inc.php
src/install/install_lock.txt
src/install/index.php.bak
src/install/index.html
src/install/module-install.php.bak
src/a/*/
src/.txt
src/index.html
src/uploads/*.php
src/data/time.lock.inc
src/m/index.html
src/uploads/userup
src/uploads/20*
src/data/mysqli_error_trace.inc
src/uploads/litimg/*
src/special/*.html
*.bat
src/data/backupdata/*.txt
src/a/*.html
src/data/mkall_cache_*.php
src/data/payment/cod.php
src/freelist/
src/data/rss/*
src/data/rssmap.html
src/data/sitemap.html
src/data/js/
src/data/vote/*.js
src/data/module/*.xml
src/data/module/*.php
src/data/*.db
src/uploads/soft/*/
src/static/allimg/*/
src/data/time.lock
src/static/enums/*.json
src/static/litimg/*/
src/data/sqlite_error_trace.inc
src/static/soft/*/
src/static/userup/*/
src/static/js/*.js
src/apps/special/*.html
src/static/flink/*.png
src/static/rss/*.xml
src/a/baidunews.xml
src/data/backupfile*
src/data/updatefile*
src/data/checksql_*
src/static/media/*/
