body.hidemenu {
	background:none
}
body.showmenu .body-left {
	display:block
}
body.hidemenu .body-left {
	display:none
}
body.showmenu .body-right {
	left:230px;
	transition:all .3s
}
body.hidemenu .body-right {
	left:0;
	transition:all .3s
}
input[type=text] {
	padding:.2rem;
	width:160px;
	height:26px;
	line-height:26px;
	font-size:12px;
	background:#fff;
	border:0;
	border-radius:.2rem;
	vertical-align:middle
}
input[type=text]:focus {
	box-shadow:none;
	outline:none
}
.body-left {
	position:absolute;
	top:60px;
	width:230px;
	left:0;
	bottom:0;
	z-index:7
}
.body-right {
	position:absolute;
	right:0;
	top:60px;
	bottom:0;
	z-index:7
}
.main {
	height:100%
}
.main iframe {
	width:100%;
	height:100%;
	z-index:20
}
.menu {
	height:100%
}
.menu iframe {
	width:100%;
	height:100%;
	z-index:20
}
.head {
	position:relative;
	width:100%;
	height:60px;
	overflow:hidden;
	z-index:8
}
.top {
	width:100%;
	height:60px;
	background:linear-gradient(45deg,#008e38,#57960f 50%);
	box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.075)
}
.top-logo {
	margin-left:30px;
	float:left;
	width:200px
}
.top-dedebiz a {
	float:left;
	height:60px;
	line-height:60px;
	font-size:18px;
	font-weight:600;
	color:#fff
}
.top-dedebiz a  img {
	width:90px
}
.top-version a {
	float:left;
	height:60px;
	line-height:60px;
	font-size:18px;
	font-weight:600;
	color:#fff
}
.top-version {
	float:left;
	margin-top:20px;
	margin-left:5px;
	color:#fff
}
.btn-primary,.btn-warning {
	float:left;
	margin-top:18px;
	margin-left:5px
}
.top-item ul li {
	float:left;
	padding-left:30px;
	height:60px;
	line-height:60px
}
.top-item ul li a,.top-admin ul li a {
	color:#fff
}
.top-item ul li a:hover,.top-admin ul li a:hover {
	color:#dee2e6
}
.search {
	margin-left:-25px;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#545b62;
	background:0;
	border-radius:.2rem;
	border:0;
	cursor:pointer
}
.top-admin {
	float:right;
	margin-right:30px;
	height:60px;
	line-height:60px
}
.top-admin img {
	margin-right:10px;
	width:30px;
	height:30px;
	border-radius:50%
}
.top-admin ul li {
	float:left;
	padding-left:30px;
	height:60px;
	line-height:60px
}
.menu-body {
	margin:0;
	padding:0 10px
}
.menu-left {
	padding-top:1rem
}
.menu-right {
	width:100%;
	background:#fff;
	box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.075);
	border-radius:0 0 .2rem .2rem
}
a.menu-item div {
	margin-bottom:5px;
	width:40px;
	height:28px;
	line-height:28px;
	color:#545b62;
	background:#fff;
	box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.075);
	border-radius:.2rem 0 0 .2rem;
	text-align:center;
	transition:all .3s;
	cursor:pointer
}
a.menu-item div:hover {
	color:#fff;
	background:#545b62
}
a.menu-active div {
	margin-bottom:5px;
	width:40px;
	height:28px;
	line-height:28px;
	color:#fff;
	background:#545b62;
	box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.075);
	border-radius:.2rem 0 0 .2rem;
	text-align:center
}
dl.bitem {
	margin:1rem 0 10px 0;
	padding:0 10px
}
dl.bitem dt {
	margin-bottom:10px;
	padding-left:10px;
	height:28px;
	line-height:28px;
	background:#f6f6f6;
	border-radius:.2rem;
	cursor:pointer
}
dl.bitem dt b {
	color:#545b62
}
dl.bitem dt b i {
	margin-right:10px;
	width:10px
}
.sitemu li {
	display:block;
	padding-left:30px;
	height:26px;
	line-height:26px
}
.fllct {
	float:left
}
.flrct {
	float:right
}
.fa-minus-circle {
	color:#dc3545
}
.fa-plus-circle {
	color:#28a745
}
#browsehappy {
	padding:20px 30px;
	font-size:14px;
	line-height:16px;
	color:#856404;
	background:#fff3cd;
	border-radius:.25rem;
	border:0
}
.browsehappy-close {
	float:right;
	cursor:pointer
}