div {
	margin:0;
	padding:0
}
body {
	margin:auto;
	padding:0;
	background:#9ad075;
	text-align:center
}
dl.bitem {
	width:148px;
	margin:0 0px 6px 6px
}
dl.bitem dt {
	background:url(../../static/web/img/menubg.gif);
	height:26px;
	line-height:26px;
	text-align:center;
	cursor:pointer
}
dl.bitem dd {
	padding:6px;
	background-color:#fff
}
.fllct {
	float:left;
	width:90px
}
.flrct {
	padding-top:2px;
	float:left
}
div.items {
	line-height:22px;
	background:url(../../static/web/img/arr4.gif) no-repeat 10px 9px
}
span.items {
	padding:10px 0px 10px 22px;
	background:url(../../static/web/img/arr4.gif) no-repeat 10px 12px
}
ul {
	padding-top:2px
}
li {
	height:22px
}
.sitemu li {
	padding:0 0px 0px 22px;
	line-height:24px;
	background:url(../../static/web/img/arr4.gif) no-repeat 10px 9px
}
