::-webkit-scrollbar{width:8px;height:10px}
::-webkit-scrollbar-track{background:#f5f5f5}
::-webkit-scrollbar-thumb{background:#dee2e6}
*{font-size:14px;scrollbar-width:thin}
body{margin:0;line-height:1.6;letter-spacing:0.5px;font-size:14px;font-family:Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;color:#6c757d;background:#fff}
a{color:#6c757d;text-decoration:none}
a:hover{color:#007bff;text-decoration:none}
img{max-width:100%;border-radius:0.5rem}
ul,ol,li{margin:0;padding:0}
li{list-style:none}
form,label{margin-bottom:0}
table{background:#fff;border-spacing:0;border-collapse:separate}
table tr:first-child td:first-child{border-top-left-radius:0.5rem;border-top:0}
table tr:first-child td:last-child{border-top-right-radius:0.5rem;border-top:0}
table tr:last-child td:first-child{border-bottom-left-radius:0.5rem;border-bottom:0}
table tr:last-child td:last-child{border-bottom-right-radius:0.5rem;border-bottom:0}
td{word-break:break-all;word-wrap:break-word}
input{padding:0.375rem 0.75rem;height:30px;color:#6c757d;background:#fff;border:1px solid #dee2e6;vertical-align:middle}
input[type=file]{padding:0;height:auto;border:0;border-radius:0!important;vertical-align:middle}
input[type=button],input[type=submit],input[type=reset]{padding:0.375rem 0.75rem;height:30px;line-height:1.5;font-size:12px;color:#fff;background:#1eb867;border:0}
input[type=radio],input[type=checkbox],input[type=radio]:focus,input[type=checkbox]:focus{width:14px;height:14px;outline:none;box-shadow:none;vertical-align:middle}
select{padding:0.375rem 0.75rem;height:30px;color:#6c757d;background:#fff;border:1px solid #dee2e6;vertical-align:middle}
select[multiple=yes]{height:180px}
option{display:flex;padding:0;height:30px;align-items:center}
textarea{padding:0.375rem 0.75rem;color:#6c757d;background:#fff;border:1px solid #dee2e6;vertical-align:middle}
input:focus,select:focus,textarea:focus{color:#6c757d;background:#fff;border-color:#80bdff;box-shadow:0 0 0 0.2rem rgba(0,123,255,.25);outline:0}
.install-box{margin:0 auto;width:800px}
.install-box .card-header,.install-box .card-body{padding:1.25rem}
.install-box h2,.install-box legend{margin:0;line-height:1.2;font-size:18px;font-weight:600;color:#343a40}
.install-box label,.login-box label{margin-bottom:5px}
.install-box .form-control,.login-box .form-control{height:36px}
.login-head{padding:1rem 0;background:#fff}
.login-head .logo{font-size:18px;color:#343a40;font-weight:600}
.login-head .logo img{margin-right:0.5rem;height:32px}
.login-from{margin:5rem auto;width:500px}
.login-box{padding:1.25rem;background:#fff}
.login-box h2{margin:0;line-height:1.2;font-size:24px;font-weight:600;color:#343a40}
.admin-head{width:100%;height:60px;background:linear-gradient(45deg,#1eb867,#009688 100%)}
.admin-head .logo{float:left;padding-left:25px;height:60px;line-height:60px;width:220px}
.admin-head .logo .name a{font-size:18px;font-weight:600;color:#fff;vertical-align:middle}
.admin-head .logo .version{margin-left:5px;font-size:12px;color:#fff;vertical-align:top}
.admin-head .logo .btn-version{margin-left:5px}
.admin-head .item li{float:left;position:relative;padding:0 1rem;height:60px;line-height:60px}
.admin-head .item li a,.admin-head .user li a{color:#fff}
.admin-head .item li a:hover,.admin-head .user li a:hover{color:#dee2e6}
.admin-head .item .search{position:absolute;top:20px;right:20px;height:20px;line-height:20px;color:#6c757d;background:0;border:0}
.admin-head .user{float:right;padding-right:25px;height:60px;line-height:60px}
.admin-head .user li{float:left;padding:0 1rem;height:60px;line-height:60px}
.admin-head .user li:last-child{padding-right:0}
.admin-head .user li img{margin-right:0.5rem;width:30px;height:30px;border-radius:50%}
body.menu-hide .menu-left{display:none}
body.menu-hide .body-right{left:0;transition:all 0.5s}
body.menu-show .menu-left{display:block}
body.menu-show .body-right{left:220px;transition:all 0.5s}
.menu-left{padding:1rem 5px;position:absolute;top:60px;left:0;bottom:0;width:220px;overflow-y:auto}
.sidemenu{background:#fff;border-radius:0.5rem}
.sidemenu .link{position:relative;padding-left:50px;display:block;height:42px;line-height:42px;cursor:pointer}
.sidemenu li:last-child .link{border-bottom:0}
.sidemenu li i{position:absolute;top:14px;left:20px;color:#6c757d}
.sidemenu li i.fa-angle-down{right:20px;left:auto}
.sidemenu li.open .link,.sidemenu li.open i{color:#1eb867}
.sidemenu li.open i.fa-angle-down{transform:rotate(180deg)}
.sidemenu .submenu{display:none;padding:5px 0;background:#adb5bd}
.sidemenu .submenu li{height:40px;line-height:40px}
.sidemenu .submenu li:hover{background:#009688;transition:all 0.5s}
.sidemenu .submenu a{float:left;display:block;padding:0 10px 0 50px;color:#fff}
.sidemenu .submenu .active{background:#1eb867}
.sidemenu .submenu-right{float:right!important;padding:0 20px 0 10px!important}
.body-right{position:absolute;top:60px;right:0;bottom:0}
.body-right iframe{width:100%;height:99%;border:0}
.web-info{padding:10px;background:#f5f5f5;text-overflow:ellipsis;white-space:nowrap}
#_fileList,#_verList{height:360px;overflow-y:auto}
#_msgInfo{display:none}
.update-close{background:#fff;border:0}
.updates-dot{display:none;position:absolute;top:12px;right:6px;height:6px;width:6px;background:#dc3545;border-radius:50%}
.spinner-border{width:20px;height:20px;vertical-align:bottom}
.sys-search{position:relative}
.sys-search .sys-times{position:absolute;top:1px;right:20px}
.coolbg{padding:0.5rem;background:#fff;border-bottom:1px solid #dee2e6;text-align:right}
.coolbg-box{padding:0.5rem;background:#fff;overflow:auto}
.colordlg{padding:0.5rem;background:#fff;border:1px solid #dee2e6;z-index:10005}
.pubdlg{background:#fff;border:1px solid #dee2e6;z-index:8888}
.pubdlg .title{padding:0 0.5rem;height:30px;line-height:30px;color:#343a40;background:#f5f5f5;border-bottom:1px solid #dee2e6}
.fullpagediv{position:absolute;top:0;left:0;width:100%;height:100%;background:#f5f5f5;opacity:0.6;z-index:1999}
.quicksel{margin-left:10px;margin-top:10px;width:680px;height:420px;overflow:auto;z-index:10005}
.quickselitem{display:block;line-height:30px}
.quickselitem .topcat{margin-bottom:1rem;padding:0 10px;background:#e9ecef;clear:both}
.quickselitem .soncat{margin-bottom:1rem;padding:0 10px}
.quickselitem .list{display:inline-block;padding-left:10px}
.quickselfoot{padding:0.5rem;background:#f5f5f5;border-top:1px solid #dee2e6}
.mysource,.mywriter{width:300px;background:#fff;border:1px solid #dee2e6;z-index:10001}
.column .admin-td{border-bottom:1px solid #dee2e6!important}
.add-tab ul .active{color:#007bff}
.add-tab li{float:left;width:60px;line-height:30px;cursor:pointer}
.nw{float:left;width:160px}
.cls{clear:both}
.helpinfo{float:left;display:none;padding:10px;width:100%;background:#f5f5f5;border:1px solid #dee2e6;border-radius:0.5rem}
#toolimg{position:absolute;display:none}
#uploadfield{float:left}
#uploadwait{z-index:19999}
.option1{background:#e9ecef}
.option2{background:#adb5bd}
.option3{background:#fff}
.body-bg{background:#f5f5f5}
.upload-box{margin:10px;background:#fff}
.tips-box{margin:70px auto 0;width:500px;height:auto;background:#fff;border-radius:0.5rem;box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.075)}
.tips-head{margin:0 20px;padding:18px 0;border-bottom:1px solid #f5f5f5}
.tips-head p{margin:0;padding-left:10px;line-height:16px;color:#343a40;text-align:left;border-left:3px solid #ff8400}
.tips-body{padding:20px;min-height:160px;color:#6c757d;word-break:break-all;word-wrap:break-word}
.user-img-md{width:60px;height:60px;border-radius:50%;border:1px solid #eee}
.user-img-sm{width:30px;height:30px;border-radius:50%;border:1px solid #eee}
.thumbnail-md{max-width:200px;max-height:120px}
.thumbnail-sm{max-width:80px;max-height:80px}
.icon img{width:20px;height:20px}
.list-group-item{padding:0.5rem 0}
.modal-title{font-size:16px}
.card-header{padding:0.5rem 1rem}
.card-body{padding:0.5rem}
.card-body canvas{height:360px!important}
.fileinput-button{display:inline-block;position:relative;overflow:hidden}
.fileinput-button input{position:absolute;top:0;right:0;margin:0;opacity:0;direction:ltr;cursor:pointer}
.maintable{width:98%!important;border:1px solid #dee2e6!important}
.table{margin-bottom:0;color:#6c757d}
.table td,.table th{padding:0.5rem;vertical-align:middle}
.form-control{display:inline-block}
.fa{font-size:14px!important;color:inherit}
.admin-win{background:#f5f5f5;border:1px solid #dee2e6!important}
.admin-win-iframe{width:100%;height:360px}
.admin-main-sort{margin-left:1rem;padding:0;width:30px;text-align:center}
.admin-td{padding:0.5rem;border-bottom:1px solid #dee2e6}
.admin-textarea-xl{width:100%;height:90px}
.admin-textarea-sm{width:360px;height:60px}
.admin-input-lg{width:360px}
.admin-input-md{width:260px}
.admin-input-sm{width:160px}
.admin-input-xs{width:60px}
span.page-link{color:#fff;background:#1eb867}
table,input,select,textarea,.login-box,.colordlg,.pubdlg,.quickselitem .topcat,.mysource,.mywriter,.web-info,.upload-box,.cke_chrome,.cke_inner,.pagination,.card,.form-control,.btn,.alert,.rounded,#edsta{border-radius:0.5rem!important}
.coolbg,.pubdlg .title,.cke_top{border-radius:0.5rem 0.5rem 0 0!important}
.submenu,.coolbg-box,.cke_bottom{border-radius:0 0 0.5rem 0.5rem!important}
.page-item:first-child .page-link{border-top-left-radius:0.5rem!important;border-bottom-left-radius:0.5rem!important}
.page-item:last-child .page-link{border-top-right-radius:0.5rem!important;border-bottom-right-radius:0.5rem!important}
.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label,.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after,.input-group:not(.has-validation)>.custom-select:not(:last-child),.input-group:not(.has-validation)>.form-control:not(:last-child){border-top-right-radius:0!important;border-bottom-right-radius:0!important}
.input-group>.input-group-append>.btn,.input-group>.input-group-append>.input-group-text,.input-group>.input-group-prepend:first-child>.btn:not(:first-child),.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),.input-group>.input-group-prepend:not(:first-child)>.btn,.input-group>.input-group-prepend:not(:first-child)>.input-group-text{border-top-left-radius:0!important;border-bottom-left-radius:0!important}
.btn-sm{padding:0.375rem 0.6rem;height:30px;line-height:1.5;font-size:12px}
.btn-xs{padding:0.22rem;height:20px;line-height:1;font-size:12px;border-radius:0.35rem!important}
.btn+.btn{margin-left:10px}
#validateimg{border-radius:0 0.5rem 0.5rem 0;cursor:pointer}
#wrap{padding:10px}
#topbar{padding:10px 0;border-bottom:1px solid #ccc;text-align:right}
#file_list{display:grid;grid-gap:10px;grid-template-columns:repeat(auto-fill,minmax(160px,1fr));padding-top:10px}
#file_list:empty:after{content:'拖拽图片到此处上传'}
#file_list li{display:block;position:relative;padding:10px;vertical-align:top;border-radius:0.5rem}
#file_list li:hover{background:#f5f5f5}
#file_list li .picbox{display:flex;flex:0 0 auto;position:relative;padding-top:90%;width:100%;align-items:center;justify-content:center;overflow:hidden}
#file_list li .picbox img{display:block;max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);border-radius:0.5rem}
#file_list li .namebox{display:flex;padding:10px;justify-content:center;align-items:flex-start}
#file_list li.up-over .picbox:after{position:absolute;bottom:10px;right:0;font-family:'FontAwesome';font-size:18px;color:#1eb867;content:'\f058';z-index:9}
#file_list li .tools{display:none;position:absolute;bottom:12px;right:10px;z-index:99}
#file_list li:hover .tools{display:block}
#file_list li .tools .remove{cursor:pointer}
#file_list li .tools .remove:after{font-family:'FontAwesome';font-size:18px;color:#dc3545;content:'\f1f8'}
#selColor{padding:5px;width:35px}
#edsta{display:none;padding:0.5rem;position:absolute;top:100px;left:200px;width:450px;height:auto;background:#f5f5f5;border:1px solid #dee2e6}
#browsehappy{padding:1rem 30px;color:#856404;background:#fff3cd}
.browsehappy-close{float:right;cursor:pointer}
@media (min-width:1200px){
.modal-dialog{max-width:500px}
}
@media (max-width:768px){
td{text-overflow:ellipsis;white-space:nowrap}
.install-box,.login-from,.tips-box{width:100%}
.tips{padding:0 1rem}
}