::-webkit-scrollbar {
	width:6px;
	height:6px
}
::-webkit-scrollbar-track {
	background:#f2f2f2;
	border-radius:.2rem
}
::-webkit-scrollbar-thumb {
	background:#dee2e6;
	border-radius:.2rem
}
* {
	font-size:12px;
	letter-spacing:.6px
}
body {
	font:12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	color:#545b62;
	background:#fff
}
a {
	color:#545b62;
	text-decoration:none
}
a:hover {
	color:#28a745;
	text-decoration:none
}
table {
	border-radius:.2rem
}
form,h1,h2,h3,ul,ol,div {
	margin:0;
	padding:0
}
body,th,td {
	line-height:1.5
}
th,td,div {
	word-break:break-all;
	word-wrap:break-word
}
li,dd {
	margin:0;
	padding:0;
	list-style:none
}
img {
	margin-right:10px;
	border-radius:.2rem
}
label {
	margin-bottom:0
}
input {
	padding:.25rem .5rem;
	height:28px;
	color:#545b62;
	background:#fff;
	border:1px solid #dee2e6;
	border-radius:.2rem;
	vertical-align:middle;
	transition:all .3s
}
input[type=button],input[type=submit],input[type=reset] {
	padding:.25rem .5rem;
	height:auto;
	color:#fff;
	background:#28a745;
	border-radius:.2rem;
	border:0;
	transition:all .3s
}
input[type=file] {
	border:0
}
input[type=radio],input[type=checkbox],input[type=radio]:focus,input[type=checkbox]:focus {
	height:auto;
	box-shadow:none;
	outline:none;
	vertical-align:text-top
}
textarea {
	padding:.25rem .5rem;
	color:#545b62;
	background:#fff;
	border:1px solid #dee2e6;
	border-radius:.2rem;
	transition:all .3s
}
select {
	padding:.25rem .5rem;
	height:28px;
	color:#545b62;
	background:#fff;
	border:1px solid #dee2e6;
	border-radius:.2rem;
	transition:all .3s
}
select:focus,input:focus,textarea:focus {
	color:#495057;
	background:#fff;
	border-color:#80bdff;
	box-shadow:0 0 0 0.2rem rgba(0,123,255,.25);
	outline:0
}
.linerow {
	border-bottom:1px solid #eee!important
}
.coolbg {
	padding:.25rem .5rem;
	background:#f8f8f8;
	border-bottom:1px solid #dee2e6;
	border-radius:.2rem;
	border:0;
	cursor:pointer
}
.coolbg2 {
	height:28px;
	background:#dfddd2;
	border:1px solid #dee2e6
}
.ll {
	background:#e6e6e6;
	border-right:2px solid #acacac;
	border-bottom:2px solid #acacac
}
.bline {
	height:36px;
	border-bottom:1px solid #dee2e6
}
#uploadfield {
	float:left
}
.bline2 {
	border-bottom:1px solid #dee2e6
}
.coolbt {
	background:#e4f7d7;
	border-left:1px solid #efefef;
	border-top:1px solid #efefef;
	border-bottom:1px solid #acacac;
	cursor:pointer
}
.coolbt2 {
	background:#f7fcda;
	border-left:1px solid #efefef;
	border-top:1px solid #efefef;
	border-bottom:1px solid #acacac
}
.coolbg3 {
	width:140px;
	height:28px;
	background:#dfddd2;
	border:1px solid #bdc5b4;
	text-align:right
}
.coolbg61 {
	width:390px;
	height:28px;
	line-height:28px;
	background:#e7f3b1;
	border-top:1px solid #bdc5b4;
	border-left:1px solid #bdc5b4;
	border-right:1px solid #bdc5b4;
	text-align:right
}
.coolbg62 {
	padding:.6rem;
	width:390px;
	height:300px;
	background:#F8FDF0;
	border:1px solid #bdc5b4
}
.coolbg4 {
	width:160px;
	background:#fff;
	border-bottom:1px solid #dee2e6;
	text-align:right
}
.wsselect {
	padding:.5rem 0;
	background:#fff;
	overflow:auto
}
.dlg {
	padding:.25rem .5rem;
	width:360px;
	background:#f0faeb;
	border:2px solid #28a745
}
.pubdlg {
	background:#fff;
	border:2px solid #28a745;
	border-radius:.2rem;
	z-index:8888
}
.pubdlg .title {
	padding-left:.5rem;
	line-height:30px;
	font-weight:600;
	color:#545b62;
	border-bottom:1px solid #dee2e6;
	cursor:move
}
.fullpagediv {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#cdcdcd;
	opacity:.6;
	z-index:1999
}
.quicksel {
	margin-left:10px;
	margin-top:10px;
	width:680px;
	height:420px;
	overflow:auto;
	z-index:10005
}
.quickselfoot {
	padding:.5rem 0;
	border-top:1px solid #dee2e6
}
.quickselItem {
	display:block;
	line-height:28px
}
.quickselItem .topcat {
	padding:0 10px;
	background:#f8fcf2;
	clear:both
}
.quickselItem .soncat {
	padding:0 10px
}
.quickselItem .item {
	display:inline-block;
	padding-left:10px
}
.mysource,.mywriter {
	width:300px;
	background:#fff;
	border:2px solid #28a745;
	z-index:10001
}
.dlgws div {
	padding:.5rem;
	width:100%
}
.dlgTesttitle {
	width:300px;
	background:#f0faeb;
	border:2px solid #28a745
}
#_mysource {
	z-index:10003
}
#_mywriter {
	z-index:10004
}
#uploadwait {
	z-index:19999
}
.option1 {
	background:#dceca6
}
.option2 {
	background:#f7fbd2
}
.option3 {
	background:#fff
}
.ininput {
	width:96%;
	height:28px;
	border:1px solid #dee2e6
}
.nbt {
	padding:.6rem;
	background:#f8fcf2;
	border:1px solid #a5af83
}
.tdt {
	padding-left:10px
}
.divpre img {
	max-width:150px;
	max-height:100px
}
.divpre {
	overflow:hidden
}
.autoinput {
	padding-left:10px;
	width:90%
}
.tbtitle td {
	padding:.6rem
}
.tblist td {
	padding:.6rem;
	background:#fff
}
.tblist td.tbsname {
	padding:.6rem;
	background:#f9ffe6
}
.colordlg {
	padding:.6rem;
	width:120px;
	background:#fff;
	border:2px solid #28a745;
	z-index:10005
}
option.alltype {
	padding:2px 0 4px 0px
}
option.btype {
	padding:2px 0 4px 10px
}
option.stype {
	padding:2px 0 4px 20px
}
.ilist {
	border:1px dashed #dee2e6
}
.spec {
	width:60px
}
.gtab a {
	display:block;
	float:left;
	width:80px;
	height:28px;
	line-height:28px;
	text-align:center
}
.m1 {
	border-left:1px solid #dfdfdb;
	border-top:1px solid #dfdfdb;
	border-bottom:1px solid #808080
}
.m2 {
	border-left:1px solid #dfdfdb;
	border-bottom:1px solid #808080;
	border-top:1px solid #dfdfdb;
	border-right:1px solid #dfdfdb
}
.m3 {
	border-left:1px solid #dfdfdb;
	border-top:1px solid #dfdfdb;
	border-right:1px solid #dfdfdb
}
.article {
	table-layout:fixed
}
.nndiv {
	width:170px;
	height:28px;
	margin:0;
	padding:0;
	overflow:hidden
}
span.page-link {
	color:#fff;
	background:#28a745
}
.fa {
	font-size:14px!important;
	color:inherit
}
.btn-xs {
	padding:2px;
	line-height:12px;
	font-size:12px
}
.btn+.btn,.btn-text+.btn-text {
	margin-left:1rem
}
.table {
	margin-bottom:0;
	color:#545b62
}
.table td,.table th {
	padding:.65rem;
	vertical-align:middle
}
.maintable {
	width:98%!important;
	border:1px solid #dee2e6!important
}
.form-control {
	display:inline-block;
	margin-right:10px;
	width:360px
}
.biz-updates {
	display:inline-block;
	position:absolute;
	top:12px;
	right:8px;
	height:6px;
	width:6px;
	background:#dc3545;
	border-radius:50%
}
.biz-win {
	background:#f8f8f8;
	border:1px solid #dee2e6
}
.biz-win-iframe {
	width:100%;
	height:360px
}
.biz-itemnote1 {
	background:#fbfce2;
	border-radius:.2rem .2rem 0 0
}
.biz-itemnote2 {
	background:#f8f8f8;
	border-radius:.2rem .2rem 0 0
}
.biz-border {
	border:1px solid #dee2e6
}
.biz-textarea {
	width:98%;
	height:90px
}
.biz-textarea-sm {
	width:360px;
	height:50px
}
.icon img {
	margin-right:10px;
	width:20px;
	height:20px;
	border-radius:.2rem
}
#text {
	font-size:0
}
.user-img {
	margin-right:10px;
	width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #dee2e6
}
.web-info {
	padding:10px;
	background:#f8f8f8;
	border-radius:.2rem;
	text-align:center
}
.thumbnail {
	max-width:160px;
	max-height:120px
}