body {
	line-height:1.6;
	letter-spacing:.6px;
	font:14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	color:#545b62
}
a {
	color:#545b62;
	text-decoration:none
}
a:hover {
	color:#ec982c;
	text-decoration:none
}
img {
	max-width:100%;
	border-radius:.25rem
}
ul,ol {
	margin:0;
	padding:0;
	list-style:none
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	line-height:1.6;
	font-weight:600;
	color:#393d49
}
h1 {
	font-size:36px
}
h2 {
	font-size:24px
}
h3,h4 {
	font-size:18px
}
h5,h6 {
	font-size:16px
}
form.search {
	display:flex;
	width:100%
}
input[type=file] {
	padding:0;
	height:auto;
	border:0
}
.body-bg {
	background:#f5f5f5
}
.body-img {
	background:url(../img/member_bg.jpg);
	background-repeat:no-repeat;
	background-position:top center
}
.navbar-toggler {
	font-size:16px
}
.spec .card {
	background:#f5f5f5;
	text-align:center
}
.spec .card img {
	height:160px;
	border-radius:.25rem .25rem 0 0
}
.spec .card-body {
	padding:.65rem
}
.spec .card-title {
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.spec .border-bottom-dashed {
	border-bottom:dashed 1px #929292
}
.spec > li .title h4 {
	display:inline
}
.spec > li .title a {
	color:#212529
}
.spec > li > a > img,.article-spec > a > img {
	width:120px
}
.spec > li .title .label {
	padding:0 10px;
	color:#1eb867;
	background:#b7e9b4;
	border-radius:.25rem
}
.ddcard,.ddcard-normal {
	border:none
}
.ddcard > .card-header {
	padding:0;
	background:#fff;
	border-bottom:solid 3px #1eb867
}
.ddcard-normal > .card-header {
	padding:10px;
	background:#fff;
	border-bottom:0
}
.ddcard > .card-header .more a,.ddcard-normal > .card-header .more a {
	font-size:14px;
	color:#1eb867
}
.ddcard > ul > li,.ddcard > ol > li,.ddcard-normal > ul > li,.ddcard-normal > ol > li {
	padding-bottom:10px;
	color:#c0c0c0;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.ddcard > ul > li:nth-child(1),.ddcard > ol > li:nth-child(1) {
	margin-top:10px
}
.ddcard > ul > li:last-child,.ddcard > ol > li:last-child,.ddcard-normal > ul > li:last-child,.ddcard-normal > ol > li:last-child {
	padding-bottom:0
}
.ddcard > .card-header .caption span {
	display:inline-block;
	padding:6px 12px;
	font-size:18px;
	font-weight:600;
	color:#fff;
	background:#1eb867;
	border-radius:.2rem .2rem 0 0
}
.ddcard-normal {
	padding:0;
	box-shadow:0 .125rem .25rem rgba(0,0,0,.075)
}
.ddcard-normal ul {
	padding:10px
}
.breadcrumb {
	margin-bottom:0
}
.spec > li .description,.spec > li .description a {
	line-height:30px;
	font-size:16px;
	color:#868686;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden
}
.items > li .type {
	position:relative;
	padding:0 5px;
	margin-right:10px;
	top:-3px;
	height:18px;
	line-height:18px;
	font-size:14px;
	color:#fff;
	background:#1eb867
}
.items > li .pane {
	display:inline-block;
	margin-right:10px;
	margin-bottom:10px;
	width:10px;
	height:10px;
	background:#1eb867;
	vertical-align:middle
}
.items > li .caption {
	line-height:30px
}
.items > li .title,.items > li .caption a {
	display:inline
}
.items > li .source span,.items > li .source a {
	color:#c0c0c0
}
.items > li .description,.items > li .description a,.items > li .addinfo {
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden;
	line-height:30px;
	word-break:break-all
}
.items .border-bottom-dashed {
	border-bottom:dashed 1px #929292
}
.items img {
	max-width:100px
}
.items > li .label {
	margin-left:10px;
	padding:0 5px;
	color:#fff840;
	font-size:14px;
	height:30px;
	line-height:30px;
	background:#fff840;
	border:1px solid #fff840;
	border-radius:.25rem;
	text-decoration-line:none
}
.items > li .label:hover {
	color:#fff
}
.article-main h1,.article-main h2,.article-main h3,.article-main h4,.article-main h5,.article-main h6 {
	margin-bottom:1rem;
	font-size:24px
}
.article-meta span {
	margin-right:1rem
}
.digg .comment-container {
	width:200px;
	padding:10px 20px;
	border:1px solid #f5f5f5;
	border-radius:30px;
	margin:0 6px;
	cursor:pointer
}
.digg .comment-container:hover {
	background:#fffce0
}
.digg .comment-top {
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-bottom:10px
}
.digg .comment-top-text {
	margin-left:10px;
	color:#497cf6
}
.digg .comment-top-text-danger {
	margin-left:10px;
	color:#d21d35
}
.digg .text-like {
	color:#497cf6
}
.digg .text-unlike {
	color:#d21d35
}
.digg .comment-top p {
	margin-bottom:unset
}
.prenext .pagination-previous,.pagination-next {
	padding:6px 12px;
	font-size:14px;
	color:#a6a5a6;
	border-radius:30px;
	border:1px solid #f0f0f0;
	cursor:pointer
}
.prenext .pagination-previous:hover,.pagination-next:hover {
	color:#c2e5d0;
	background:#1eac5a
}
.actbox {
	float:right;
	padding:10px
}
.actbox ul {
	list-style:none
}
.actbox ul li {
	float:left;
	margin-left:10px
}
.copyright {
	padding:1.5rem;
	background:#343a40
}
.flink,.flink a,.copyright,.copyright a {
	color:#fff
}
.nav-link {
	padding:0 10px;
	height:36px;
	line-height:36px
}
.logo img {
	height:40px
}
.login-from {
	margin:6rem 0
}
.login-box {
	padding:1.25rem;
	width:500px;
	background:#fff
}
#validateimg {
	border-radius:0 .2rem .2rem 0
}
.user-login {
	line-height:40px
}
.user-actions {
	line-height:40px;
	text-align:right
}
.user-admin-img {
	max-width:60px;
	min-height:60px;
	border-radius:50%;
	border:1px solid #eee
}
.user-admin-img-xs {
	margin-right:10px;
	width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #eee
}
.user-edit-img {
	width:36px;
	height:36px;
	border-radius:50%;
	border:1px solid #eee
}
.user-meter i {
	font-size:24px!important;
	color:#1eb867
}
.list-group-item.active a {
	color:#fff
}
.list-group-flush>.list-group-item {
	cursor:pointer
}
.dropdown {
	display:inline-block;
	margin-left:.25rem;
	content:"";
	border-top:.3rem solid;
	border-right:.3rem solid transparent;
	border-bottom:0;
	border-left:.3rem solid transparent;
	vertical-align:.25rem
}
.pannel-main-container {
	padding:1.5rem;
	background:#fff
}
.table {
	color:#545b62
}
.form-control {
	display:inline-block
}
.fa {
	color:inherit;
	cursor:pointer
}
.btn+.btn,.btn-text+.btn-text {
	margin-left:10px
}
.form-control,.btn,.fa {
	font-size:14px!important
}
.form-control,.input-text {
	height:36px;
	line-height:36px
}
.thumbnail-md {
	max-width:280px;
	max-height:168px
}
.admin-textarea-xl {
	width:100%;
	height:90px
}
.admin-textarea-sm {
	width:360px;
	height:50px
}
.admin-input-md {
	width:90%
}
.admin-input-sm {
	width:160px
}
.admin-input-xs {
	width:60px
}
#btnScrollTop {
	display:none;
	position:fixed;
	padding:10px 12px;
	right:1rem;
	bottom:1rem;
	font-size:16px;
	color:#fff;
	cursor:pointer;
	background:#ec982c;
	border-radius:.25rem;
	border:0;
	z-index:9998
}
#btnScrollTop:hover {
	background:#e77817
}
@media (max-width:480px) {
	.m-pb-1 {
	padding-bottom:1rem
}
.m-pb-2 {
	padding-bottom:2rem
}
.spec .card img {
	height:130px
}
.login-from,.login-box {
	width:100%
}
}