body {
	line-height:1.5;
	font:14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	color:#545b62;
	letter-spacing:.6px
}
a {
	color:#545b62;
	text-decoration:none
}
a:hover {
	color:#ec982c;
	text-decoration:none
}
img {
	max-width:100%;
	border-radius:.25rem
}
ul,ol {
	margin:0;
	padding:0;
	list-style:none
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	line-height:1.5;
	font-weight:600;
	color:#393d49
}
h1 {
	font-size:32px
}
h2 {
	font-size:24px
}
h3,h4 {
	font-size:18px
}
h5,h6 {
	font-size:16px
}
form.search {
	display:flex;
	width:100%
}
ul.spec > li > a > img,.article-spec > a > img {
	width:120px
}
ul.spec .border-bottom-dashed {
	border-bottom:dashed 1px #929292
}
ul.spec > li .title a {
	color:#212529
}
ul.spec > li .title h4 {
	display:inline
}
ul.spec > li .title .label {
	padding:0 5px;
	color:#1eb867;
	background:#B7E9B4;
	border-radius:.25rem
}
ul.spec > li .description,ul.spec > li .description a {
	line-height:30px;
	font-size:16px;
	color:#868686;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden
}
ul.items > li .type {
	position:relative;
	padding:0 5px;
	margin-right:10px;
	top:-3px;
	height:18px;
	line-height:18px;
	font-size:14px;
	color:#fff;
	background:#1eb867
}
ul.items > li .pane {
	display:inline-block;
	margin-right:10px;
	margin-bottom:10px;
	width:10px;
	height:10px;
	background:#1eb867;
	vertical-align:middle
}
ul.items > li .caption {
	line-height:30px
}
ul.items > li .title,ul.items > li .caption a {
	display:inline;
	line-height:18px;
	color:#212529
}
ul.items > li .description,ul.items > li .description a,ul.items > li .addinfo {
	color:#868686;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden;
	line-height:30px;
	word-break:break-all
}
ul.items > li .addinfo {
	font-size:14px
}
ul.items .border-bottom-dashed {
	border-bottom:dashed 1px #929292
}
ul.items img {
	max-width:100px
}
ul.items > li .label {
	margin-left:10px;
	padding:0 5px;
	color:#fff840;
	font-size:14px;
	height:30px;
	line-height:30px;
	background:#fff840;
	border:1px solid #fff840;
	border-radius:.25rem;
	text-decoration-line:none
}
ul.items > li .label:hover {
	color:#fff
}
ul.items > li .source {
	font-size:14px
}
.ddcard,.ddcard-normal {
	border:none
}
.ddcard-normal {
	padding:.25rem;
	box-shadow:1px 0px 5px 5px #f5f5f5
}
.ddcard-normal ul {
	padding:.5rem
}
.ddcard > .card-header {
	padding:0;
	background:#fff;
	border-bottom:solid 5px #1eb867
}
.ddcard-normal > .card-header {
	padding:0;
	background:#fff;
	border-bottom:0
}
.ddcard-normal > .card-header .caption {
	font-size:18px;
	font-weight:600
}
.ddcard-normal > .card-header .caption::before {
	margin-right:10px;
	padding:6px;
	content:" ";
	background:#1eb867;
	border-radius:.2rem
}
.ddcard > .card-header .caption {
	font-size:18px
}
.ddcard > .card-header .caption span {
	padding:6px 15px;
	display:inline-block;
	color:#fff;
	background:#1eb867;
	border-radius:.2rem .2rem 0 0
}
.ddcard > .card-header .more a,.ddcard-normal > .card-header .more a {
	color:#1eb867;
	font-size:14px;
	line-height:26px
}
.ddcard > .list-group {
	margin-left:20px
}
.ddcard > .list-group .label,.ddcard-normal > .list-group .label {
	float:right;
	font-size:14px;
	padding:10px;
	color:#12451f;
	background:#b6e9b4;
	border-radius:.25rem;
	margin-left:5px
}
.ddcard-normal > .list-group .time {
	color:#c0c0c0
}
.ddcard-normal > ul > li,.ddcard-normal > ol > li {
	border-bottom:dashed 1px #cfcfcf;
	list-style:none
}
.ddcard-normal > ul > li.media img {
	width:75px;
	height:57px
}
.ddcard-normal > ul > li.media h4 {
	font-size:16px
}
.ddcard-normal .more {
	padding-right:1.5rem
}
.ddcard-normal > .list-group > li i {
	color:#60B983
}
.ddcard > ul > li,.ddcard > ol > li,.ddcard-normal > ul > li,.ddcard-normal > ol > li {
	padding:10px 0;
	color:#c0c0c0;
	overflow:hidden;
	#fff-space:nowrap;
	text-overflow:ellipsis
}
.ddcard > ul > li:nth-child(1),.ddcard > ol > li:nth-child(1),.ddcard-normal > ul > li:nth-child(1),.ddcard-normal > ol > li:nth-child(1) {
	margin-top:10px;
	overflow:hidden;
	#fff-space:nowrap;
	text-overflow:ellipsis
}
.ddcard > ul > li a,.ddcard > ol > li a,.ddcard-normal > ul > li a,.ddcard-normal > ol > li a {
	color:#272727
}
.ddcard > ol > li::before,.ddcard-normal > ol > li::before {
	background:#fff840;
	color:#fff;
	padding:10px 0;
	margin-left:-10px;
	margin-right:10px;
	border-radius:.25rem
}
.ddcard > ol > li:nth-child(1)::before,.ddcard-normal > ol > li:nth-child(1)::before {
	content:"1";
	background:#fff840;
	color:#fff;
	padding:6px 6px;
	margin-left:0px;
	margin-right:10px;
	border-radius:.25rem;
	width:6px
}
.ddcard > ol > li:nth-child(2)::before,.ddcard-normal > ol > li:nth-child(2)::before {
	content:"2";
	background:#ffb400;
	color:#fff;
	padding:6px 5px;
	margin-left:0px;
	margin-right:10px;
	border-radius:.25rem
}
.ddcard > ol > li:nth-child(3)::before,.ddcard-normal > ol > li:nth-child(3)::before {
	content:"3";
	background:#ffcc00;
	color:#fff;
	padding:6px 5px;
	margin-left:0px;
	margin-right:10px;
	border-radius:.25rem
}
.digg .comment-container {
	width:200px;
	padding:10px 20px;
	border:1px solid #f5f5f5;
	border-radius:30px;
	margin:0 6px;
	cursor:pointer
}
.digg .comment-container:hover {
	background:#fffce0
}
.digg .comment-top {
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-bottom:10px
}
.digg .comment-top-text {
	color:#497cf6;
	margin-left:10px
}
.digg .comment-top-text-danger {
	color:#d21d35;
	margin-left:10px
}
.digg .text-like {
	color:#497cf6
}
.digg .text-unlike {
	color:#d21d35
}
.digg .comment-top p {
	margin-bottom:unset
}
.prenext .pagination-previous,.pagination-next {
	font-size:14px;
	color:#a6a5a6;
	padding:6px 14px;
	border-radius:30px;
	border:1px solid #f0f0f0;
	cursor:pointer
}
.prenext .pagination-previous:hover,.pagination-next:hover {
	color:#c2e5d0;
	background:#1eac5a
}
.actbox {
	float:right;
	padding:10px
}
.actbox ul {
	list-style:none
}
.actbox ul li {
	float:left;
	margin-left:10px
}
.spec .card {
	text-align:center
}
.spec .card img {
	max-width:200px;
	margin:0 auto
}
.spec .card-body {
	padding:.25rem
}
.title::before {
	content:" ";
	background:#1eb867;
	padding:6px;
	margin-right:10px;
	border-radius:.2rem
}
.breadcrumb {
	margin-bottom:0
}
.article-main h1,.article-main h2,.article-main h3,.article-main h4,.article-main h5,.article-main h6 {
	margin-bottom:1rem;
	font-size:24px
}
.article-meta span {
	margin-right:1rem
}
.copyright {
	padding:.5rem;
	background:#12451F
}
.flink,.flink a,.copyright,.copyright a {
	color:#fff
}
.btn+.btn,.btn-text+.btn-text {
	margin-left:1rem
}
.table {
	color:#545b62
}
.form-control,.btn,.fa {
	font-size:14px!important
}
.nav-link {
	padding:0 10px;
	height:36px;
	line-height:36px
}
.logo img {
	height:40px
}
.user-login {
	line-height:40px
}
.user-admin img {
	margin-right:10px;
	width:30px;
	height:30px;
	border-radius:50%;
	border-bottom:1px solid #eee
}
#btnScrollTop {
	display:none;
	position:fixed;
	padding:10px 12px;
	right:1rem;
	bottom:1rem;
	z-index:9998;
	font-size:16px;
	color:#fff;
	cursor:pointer;
	border:none;
	background:#ec982c;
	border-radius:.25rem;
	outline:0
}
#btnScrollTop:hover {
	background:#e77817
}