select {
	display:inline-block!important;
	margin-right:10px;
	width:260px!important
}
a.btn-success {
	color:#fff
}
.login-from {
	display:inline-block;
	padding:6rem 0
}
.login-box {
	width:500px;
	padding:1rem;
	background:#fff
}
.login-box small.des {
	color:#b5b5b5
}
.login-box .licence a {
	color:#1eb867
}
.copyright.light {
	background:#fff
}
.flink,.flink a,.copyright.light,.copyright.light a {
	color:#545b62
}
.user-actions a {
	margin-left:1rem;
	line-height:36px
}
.user-rank a {
	color:#fff
}
.user-info {
	padding-top:3.5rem
}
.user-type span {
	padding:.6rem;
	position:relative;
	top:-12px
}
.user-logo {
	max-width:70px;
	min-height:70px;
	border-radius:50%
}
.user-actions a {
	margin-left:1rem;
	line-height:36px
}
.user-rank a {
	color:#fff
}
.user-info {
	padding-top:3.5rem
}
.user-type span {
	position:relative;
	padding:.6rem;
	top:-12px
}
.pannel .dropdown {
	display:inline-block;
	margin-left:.25rem;
	vertical-align:.25rem;
	content:"";
	border-top:.3rem solid;
	border-right:.3rem solid transparent;
	border-bottom:0;
	border-left:.3rem solid transparent
}
.pannel .pannel-main .pannel-main-container {
	padding:1rem;
	background:#fff;
	border-radius:.2rem;
	box-shadow:0 .125rem .25rem rgba(0,0,0,.075)
}
.user-menu .list-group-flush>.list-group-item {
	cursor:pointer
}
.list-group-item.active {
	border-radius:.2rem
}
.list-group-item.active a {
	color:#fff
}
.dropdown-item {
	margin-left:0!important
}
.user-menu-box {
	border-radius:.2rem;
	box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.075)
}
.user-meter i {
	font-size:24px!important
}
.picname-img {
	max-width:200px;
	max-height:150px;
	vertical-align:middle
}
@media only screen and (max-width:576px) {
	.login-from,.login-box {
	width:100%
}
}