main.login-from {
	background-image:url(../img/member_bg.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	height:620px;
	padding-top:5rem
}
.login-area {
	background-color:white;
	max-width:500px;
	padding:1rem;
	float:right
}
.login-area .btnLogin {
	width:100%;
	padding:.5rem;
	margin-left:0!important
}
.login-area small.des {
	color:#B5B5B5
}
.login-area .licence a {
	color:#28a745
}
.copyright.light {
	background-color:white
}
.flink,.flink a,.copyright.light,.copyright.light a {
	color:#545b62
}
.member a {
	color:#28a745
}
.member .member-actions {
	font-size:16px
}
.member .member-logo {
	border-radius:50%;
	max-width:72px;
	min-height:72px
}
.member-actions a {
	color:#868686;
	margin-left:1rem;
	line-height:64px
}
.member .member-rank a {
	color:white
}
.member .member-info {
	padding-top:3.5rem
}
.member .member-type span {
	padding:.6rem;
	position:relative;
	top:-12px
}
.member .pannel {
	background-color:#F3F3F3
}
.member a.btn-success {
	color:white
}
.member .pannel .dropdown {
	display:inline-block;
	margin-left:.25rem;
	vertical-align:.25rem;
	content:"";
	border-top:.3em solid;
	border-right:.3em solid transparent;
	border-bottom:0;
	border-left:.3em solid transparent
}
.member .pannel .pannel-main .pannel-main-container {
	padding:1rem;
	background-color:white
}
.member .list-group-item.active a {
	color:white
}
.member .member-menu .list-group-flush>.list-group-item {
	cursor:pointer
}
.member .pannel-main .nav-link.active {
	font-weight:bold
}
option.option2 {
	background-color:#DDD
}
@media only screen and (max-width:576px) {
	.login-area {
	float:none;
	margin:auto
}
}.btn+.btn,.btn-text+.btn-text {
	margin-left:1rem
}
.fa {
	font-size:14px!important;
	color:inherit
}
.table {
	color:#545b62
}
.user-meter i {
	font-size:24px!important
}
.user-img {
	margin-right:10px;
	width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #dee2e6
}