/* Copyright 2020 The [ZiXue.CN] Authors. All rights reserved.
license that can be found in the LICENSE file. */

.flink,.flink a,.copyright,.copyright a {
    color: white;
}

.copyright {
    background-color: #12451F;
    padding:.5em;
}

form.search {
    display: flex;
    width: 100%;
}

/* spec */
ul.spec > li > a > img,.article-spec > a > img {
    width: 120px;
}

ul.spec .border-bottom-dashed {
    border-bottom: dashed 1px #929292;
}

ul.spec > li .title a {
    color: #212529;
}

ul.spec > li .title h4 {
    display: inline;
}

ul.spec > li .title .label {
    background-color: #B7E9B4;
    color: #008E38;
    padding: 0 5px;
    border-radius: 3px;
}

ul.spec > li .description, ul.spec > li .description a {
    color: #868686;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 通用列表 */
ul.items > li .type {
    background-color: #008E38;
    color: white;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    position: relative;
    padding: 0 5px;
    top: -3px;
    margin-right: 10px;
}

ul.items > li .pane {
    background-color: #008E38;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}

ul.items > li .caption {
    line-height: 32px;
}

ul.items > li .title,ul.items > li .caption a {
    display: inline;
    line-height: 18px;
    color: #212529;
}

ul.items > li .description, ul.items > li .description a, ul.items > li .addinfo {
    color: #868686;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 26px;
    word-break:break-all;
}

ul.items > li .addinfo {
    font-size: 14px;
}

ul.items .border-bottom-dashed {
    border-bottom: dashed 1px #929292;
}

ul.items img {
    max-width: 100px;
}

ul.items > li .label {
    border: 1px solid #FF8400;
    color: #FF8400;
    height: 24px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 24px;
    margin-left: 5px;
    padding: 0 5px;
}

ul.items > li .label:hover {
    border: 1px solid #FF8400;
    color: white;
    text-decoration-line: none;
    background-color: #FF8400;
    height: 24px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 24px;
    margin-left: 5px;
    padding: 0 5px;
}

ul.items > li .source {
    font-size: 14px;
}

/* 自学网列表群组 */
.list-group-dede {
    text-align: center;
    font-size: 16px;
}

.dropdown-dede .dropdown-menu {
    width: 100%;
    text-align: center;
}

.dropdown-dede .dropdown-menu>.dropdown-item.active {
    background-color: white;
    color: #FF8400;
}

.dropdown-dede,.dropdown-dede a {
    width: 100%;
}

.dropdown-dede,.dropdown-item {
    padding: .25rem 1.5rem;
    text-align: left;
    border-bottom: 1px dashed #D7D7D7;
}

.dropdown-dede,.dropdown-item:last-child {
    border-bottom: none;
}

.list-group-dede .list-group-item.active {
    z-index: 2;
    color: #ff8400;
    background-color: white;
}

.list-group-dede {
    border: 1px solid #96D6A8;
    border-radius: 10px;
}

.list-group-dede .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: none;
    font-weight: 600;
    border-bottom: 1px dashed #D7D7D7;
}

.list-group-dede .list-group-item.active {
    border: none;
    border-bottom: 1px dashed #D7D7D7;
}
.list-group-dede .list-group-item+.list-group-item.active {
    margin-top: 0px;
}

.list-group-dede .list-group-item:last-child {
    border-bottom: none;
}

/* dedecard */
.ddcard,.ddcard-normal {
    border: none;
}

.ddcard-normal{
    box-shadow: 1px 0px 5px 5px #F2F2F2;
    padding: .25em;
}

.ddcard-normal ul {
    padding: .5em;
}

.ddcard > .card-header {
    background-color: white;
    padding: 0;
    border-bottom: solid 5px #008E38;
}

.ddcard-normal > .card-header {
    background-color: white;
    padding: 0;
    border-bottom: none;
}
.ddcard-normal > .card-header .caption {
    font-size: 18px;
    font-weight: 600;
}
.ddcard-normal > .card-header .caption a{
    color: #008E38;
}
.ddcard-normal > .card-header .caption::before {
    content: " ";
    background-color: #008E38;
    padding: 4px;
    margin-right: 10px;
}

.ddcard > .card-header .caption {
    font-size: 18px;
}

.ddcard > .card-header .caption span {
    display: inline-block;
    background: #008E38;
    padding: 5px 15px;
    color: white;
    margin-bottom: -3px;
}

.ddcard > .card-header .more a,.ddcard-normal > .card-header .more a{
    color: #008E38;
    font-size: 14px;
    line-height: 26px;
}

.ddcard > .list-group {
    margin-left: 20px;
}

.ddcard > .list-group .label,.ddcard-normal > .list-group .label {
    float: right;
    font-size: 14px;
    padding: 3px;
    color: #12451F;
    background-color: #B6E9B4;
    border-radius: 3px;
    margin-left: 5px;
}

.ddcard-normal > .list-group .time {
    color: #C0C0C0;
}

.ddcard-normal > ul > li,.ddcard-normal > ol > li {
    border-bottom: dashed 1px #CFCFCF;
    list-style: none;
}

.ddcard-normal > ul > li.media img {
    width: 75px;
    height: 57px;
}

.ddcard-normal > ul > li.media h4 {
    font-size: 16px;
}

.ddcard-normal .more {
    padding-right: 1.5em;
}


.ddcard-normal > .list-group > li i {
    color: #60B983;
}

.ddcard > ul > li,.ddcard > ol > li,.ddcard-normal > ul > li,.ddcard-normal > ol > li {
    padding: 5px 0;
    color: #C0C0C0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ddcard > ul > li:nth-child(1),.ddcard > ol > li:nth-child(1),
.ddcard-normal > ul > li:nth-child(1),.ddcard-normal > ol > li:nth-child(1) {
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ddcard > ul > li a ,.ddcard > ol > li a,.ddcard-normal > ul > li a ,.ddcard-normal > ol > li a{
    color: #272727;
}

.ddcard > ol > li::before,.ddcard-normal > ol > li::before {
    background-color: #FF8400;
    color: white;
    padding: 3px;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 3px;
}

.ddcard > ol > li:nth-child(1)::before,.ddcard-normal > ol > li:nth-child(1)::before {
    content: "1";
    background-color: #FF8400;
    color: white;
    padding: 3px 6px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 3px;
    width: 6px;
}

.ddcard > ol > li:nth-child(2)::before,.ddcard-normal > ol > li:nth-child(2)::before {
    content: "2";
    background-color: #FFB400;
    color: white;
    padding: 3px 5px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 3px;
}

.ddcard > ol > li:nth-child(3)::before,.ddcard-normal > ol > li:nth-child(3)::before {
    content: "3";
    background-color: #FFCC00;
    color: white;
    padding: 3px 5px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 3px;
}

/* 特殊标题 */
h1.dede::before {
    content: " ";
    background-color: #008E38;
    padding: 4px;
    margin-right: 10px;
}

h2.dede::before {
    content: " ";
    background-color: #008E38;
    padding: 4px;
    margin-right: 10px;
}

h3.dede::before {
    content: " ";
    background-color: #008E38;
    padding: 4px;
    margin-right: 10px;
}

h4.dede::before {
    content: " ";
    background-color: #008E38;
    padding: 4px;
    margin-right: 10px;
}

h5.dede::before {
    content: " ";
    background-color: #008E38;
    padding: 4px;
    margin-right: 10px;
}

h3.dede-box::before {
    content: " ";
    background-color: #B7E9B4;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
    display: inline-block;
}

h4.dede-box::before {
    content: " ";
    background-color: #B7E9B4;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
    display: inline-block;
}

h5.dede-box::before {
    content: " ";
    background-color: #B7E9B4;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
    display: inline-block;
}

/* 导航 */
.nav.dede .nav-link {
    color: #858585;
    border: solid 1px #858585;
}

.nav.dede .nav-link.active {
    color: white;
    border: solid 1px #FF8400;
}

.nav.dede .nav-link:hover {
    color: white;
    background-color: #FF8400;
    border: solid 1px #FF8400;
}

.nav.dede .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

/* 站点全局导航部分 */
nav.navbar.dede {
    padding: 0;
}

nav.navbar.dede .dropdown-item.active, .dropdown-item:active {
    color:#ff8400;
    text-decoration: none;
    background-color:#fff;
}

nav.navbar.dede .navbar-brand{
    display: none;
}

nav.navbar.dede .nav-item{
    width: 7em;
    text-align: center;
    padding: .5em 0;
}

nav.navbar.dede .nav-item.active{
    background-color: #ff8400;
}

nav.location {
    padding: .5em;
    border: solid 1px #B5B5B5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

nav.location .caption{
    display: inline-block;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #008E38;
    width: 75px;
    text-align: center;
    padding: 0 5px 0 5px;
    position: relative;
}

nav.location .dede {
    padding-inline-start: 0px;
    margin-bottom: 0;
}

nav.location .dede li {
    float: left;
    list-style-type: none;
}

nav.location .dede li .nav-link {
    color: #272727;
}

nav.location .dede li.active .nav-link {
    color: #ff8400;
}

.dede-title > .dede, .dede-title > .dede-box {
    display: inline-block;
}

.dede-title > .items{
    display: inline-block;
}

/* 面包屑 */
.position .breadcrumb .breadcrumb-item a {
    color: #008E38;
}

/* 滚动到顶部 */
#btnScrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #EC982C;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}

#btnScrollTop:hover {
    background-color: #E77817;
}

/*展开搜索*/
.showhide-info .btn-show,.showhide-info .btn-hide{
    margin: 20px auto;
}

/*展开状态*/
.showhide-info.show .box {
    height: 100%;
}
.showhide-info.show .btn-show{  
    display: none;
}
.showhide-info.show .btn-hide{  
    display: block;
}

/*收缩状态*/
.showhide-info.hide .box{  
    height: 300px;
    overflow: hidden;
}
.showhide-info.hide .btn-showhide{  
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
}
.showhide-info.hide .gradient{  
    position: absolute;
    top: -79px;
    left: 0;
    height: 80px;
    width: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#fff));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),#fff);
    background-image: linear-gradient(-180deg,rgba(255,255,255,0),#fff);
}
.showhide-info.hide .btn-show{  
    display: block;
}
.showhide-info.hide .btn-hide{  
    display: none;
}

/* 文章内容样式 */
.article-main h2 {
    line-height: 1.5em;
}

.article-meta small {
    color: #868686;
    margin-left: 1em;
}

.article-main .body {
    word-break: break-all;
}

.article-main .body img,.article-main .body video {
    max-width: 100%!important;
    height: auto !important;
    visibility: visible !important;
}

.article-main .body table {
    width: 100% !important;
}

/* 站点头部nav */
.site-nav {
    font-size: 14px;
}

.site-nav .title b {
    color: #ff8400;
}

.site-nav .user a {
    color: #008E38;
}

#body-pic img {
    max-width: 40%!important;
}

.image-item img{
    height: 160px;
}

.list-image img {
    width: 130px;
    max-width: 130px!important;
}

.flink {
    background-color: #008e38!important;
}

.flink,.flink a,.copyright,.copyright a {
    color: white;
}

@media only screen and (max-width: 1199px) {
    .ddcard > .card-header .caption span {
        font-size: 14px;
    }
}


@media only screen and (max-width: 576px) {
    .logo {
        text-align: center;
    }
    
    nav.navbar.dede .nav-item{
        width: 100%;
    }

    nav.navbar.dede .navbar-brand{
        display: block;
        margin-left: 10px;
    }

    .dropdown-dede,.dropdown-item {
        text-align: center;
    }

    .ddcard > .card-header .caption span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {

    nav.navbar.dede .nav-item{
        width: 100%;
    }

    nav.navbar.dede .navbar-brand{
        display: block;
        margin-left: 10px;
    }

    .dropdown-dede,.dropdown-item {
        text-align: center;
    }

    .ddcard > .card-header .caption span {
        font-size: 14px;
    }
}

.digg .comment-container {
    width: 200px;
    padding: 10px 20px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    margin: 0 6px;
    cursor: pointer;
}

.digg .comment-container:hover {
    background-color: #FFFCE0;
}

.digg .comment-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.digg .comment-top-text {
    color: #497cf6;
    margin-left: 10px;
}

.digg .comment-top-text-danger {
    color: #d21d35;
    margin-left: 10px; 
}

.digg .text-like {
    color: #497cf6; 
}

.digg .text-unlike {
    color: #d21d35
}

.digg .comment-top p {
    margin-bottom: unset;
}


.prenext .pagination-previous, .pagination-next {
    font-size: 14px;
    color: #a6a5a6; 
    padding: 6px 14px;
    border-radius: 34px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}

.prenext .pagination-previous:hover, .pagination-next:hover {
    color: #c2e5d0; 
    background-color: #1eac5a;
}

.actbox {
    float: right;
    padding:10px;
}
.actbox ul {
    list-style: none;
}
.actbox ul li {
    float: left;
    margin-left: 10px;
}