<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $s_lang?>" />
<title>安装程序 - 织梦内容管理系统<?php echo $verMsg; ?></title>
<script src="../static/js/dedeajax2.js" language="javascript" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    function $o(tid){
        return document.getElementById(tid);
    }
    function TestDb()
    {
		var dbhost = $o('dbhost').value;
        var dbuser = $o('dbuser').value;
        var dbpwd = $o('dbpwd').value;
		$o('havedbsta').innerHTML='<img src=\'images/ajax-loader.gif\'>';
        var myajax = new DedeAjax($o('dbpwdsta'),false,true,'-','-','...');
        myajax.SendGet2('index.php?step=10&dbhost='+dbhost+'&dbuser='+dbuser+'&dbpwd='+dbpwd);
		DedeXHTTP = null;
		HaveDB();
    }
	
	function HaveDB()
    {
		var dbhost = $o('dbhost').value;
        var dbname = $o('dbname').value;
        var dbuser = $o('dbuser').value;
        var dbpwd = $o('dbpwd').value;
        var myajax = new DedeAjax($o('havedbsta'),false,true,'-','-','...');
        myajax.SendGet2('index.php?step=10&dbhost='+dbhost+'&dbuser='+dbuser+'&dbpwd='+dbpwd+'&dbname='+dbname);
		DedeXHTTP = null;
    }
	
    function DoInstall()
    {
        //$o('postloader').style.display = 'block';
        document.form1.submit();
    }

    function randpwd() {
        // >= IE8
        document.querySelector("input[name='adminpwd']").value = Math.random().toString(36).slice(-8) + Math.random().toString(36).slice(-8);
    }
</script>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id='postloader' class='waitpage'></div>
<form action="index.php" method="post" name="form1">
<input type="hidden" name="step" value="4" />
<div class="top">
    <div class="top-logo">
        
    </div>
    <div class="top-link">
        <ul>
			<li><a href="https://www.dedebiz.com" target="_blank">DedeCMSV6</a></li>
			<li><a href="https://www.dedebiz.com/git" target="_blank">代码托管</a></li>
			<li><a href="https://www.dedebiz.com/help" target="_blank">帮助中心</a></li>
			<li><a href="https://www.dedebiz.com" target="_blank">Dede商业支持</a></li>
        </ul>
    </div>
    <div class="top-version">
        <!-- 版本信息 -->
        <h2>DEDECMS<?php echo $verMsg; ?></h2>
    </div>
</div>

<div class="main">
    <div class="pleft">
        <dl class="setpbox t1">
            <dt>安装步骤</dt>
            <dd>
                <ul>
                    <li class="succeed">许可协议</li>
                    <li class="succeed">环境检测</li>
                    <li class="now">参数配置</li>
                    <li>正在安装</li>
                    <li>安装完成</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="pright">
        <div class="pr-title"><h3>数据库设定</h3></div>
        <table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
<tr>
                <td class="onetd"><strong>数据库类型：</strong></td>
                <td><select name="dbtype">
                	<option value="mysql" selected>MySQL</option>
                	<option value="sqlite">SQLite</option>
                </select>
                <small>一般为MySQL，SQLite仅用于开发调试不建议生产中使用</small></td>
            </tr>
            <tr>
                <td class="onetd"><strong>数据库主机：</strong></td>
                <td><input name="dbhost" id="dbhost" type="text" value="localhost" class="input-txt" />
                <small>一般为localhost</small></td>
            </tr>
            <tr>
                <td class="onetd"><strong>数据库用户：</strong></td>
                <td><input name="dbuser" id="dbuser" type="text" value="root" class="input-txt" /></td>
            </tr>
            <tr>
                <td class="onetd"><strong>数据库密码：</strong></td>
                <td>
                  <div style='float:left;margin-right:3px;'><input name="dbpwd" id="dbpwd" type="text" class="input-txt" onChange="TestDb()" /></div>
                  <div style='float:left' id='dbpwdsta'></div>
                </td>
            </tr>
			<tr>
                <td class="onetd"><strong>数据表前缀：</strong></td>
                <td><input name="dbprefix" id="dbprefix" type="text" value="dede_" class="input-txt" />
                        <small>如无特殊需要,请不要修改</small></td>
            </tr>
			<tr>
                <td class="onetd"><strong>数据库名称：</strong></td>
                <td>
                    <div style='float:left;margin-right:3px;'><input name="dbname" id="dbname" type="text" value="<?php echo $dfDbname; ?>" class="input-txt" onChange="HaveDB()" /></div>
					<div style='float:left' id='havedbsta'></div>
                </td>
            </tr>
            <tr>
                <td class="onetd"><strong>数据库编码：</strong></td>
                <td>
                        <?php
                        if($s_lang=='utf-8')
                        {
                        ?>
                        <input type="radio" name="dblang" id="dblang_utf8" value="utf8" checked="checked" /><label for="dblang_latin1">UTF8</label>
                        <?php
                        }
                        else
                        {
                        ?>
                        <input type="radio" name="dblang" id="dblang_gbk" value="gbk" checked="checked" /><label for="dblang_gbk">GBK</label>
                        <input type="radio" name="dblang" id="dblang_latin1" value="latin1" /><label for="dblang_latin1">LATIN1</label>
                        <?php
                        }
                        ?>
                        <small>仅对4.1+以上版本的MySql选择</small>
                </td>
            </tr>
        </table>

        <div class="pr-title"><h3>管理员初始密码</h3></div>
        <table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr>
                <td class="onetd"><strong>用户名：</strong></td>
                <td>
                    <input name="adminuser" type="text" value="admin" class="input-txt" />
                    <p><small>只能用'0-9'、'a-z'、'A-Z'、'.'、'@'、'_'、'-'、'!'以内范围的字符</small></p>
                </td>
            </tr>
            <tr>
                <td class="onetd"><strong>密　码：</strong></td>
                <td><input name="adminpwd" type="text" value="admin" class="input-txt" /><small>默认密码：admin，建议 <a class="btn btn-danger btn-sm" href="javascript:randpwd();">手动生成</a></small></td>
            </tr>
            <tr>
                <td class="onetd"><strong>Cookie加密码：</strong></td>
                <td><input name="cookieencode" type="text" value="<?php echo $rnd_cookieEncode; ?>" class="input-txt" /></td>
            </tr>
        </table>

        <div class="pr-title"><h3>网站设置</h3></div>
        <table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr>
                <td class="onetd"><strong>网站名称：</strong></td>
                <td>
                    <input name="webname" type="text" value="我的网站" class="input-txt" />
                </td>
            </tr>
            <tr>
                <td class="onetd"><strong>管理员邮箱：</strong></td>
                <td><input name="adminmail" type="text" value="admin@dedecms.com" class="input-txt" /></td>
            </tr>
            <tr>
                <td class="onetd"><strong> 网站网址：</strong></td>
                <td><input name="baseurl" type="text" value="<?php echo $baseurl; ?>" class="input-txt" /></td>
            </tr>
            <tr>
                <td class="onetd"><strong>CMS安装目录：</strong></td>
                <td><input name="cmspath" type="text" class="input-txt" value="<?php echo $basepath; ?>" /><small>在根目录安装时不必理会</small></td>
            </tr>
        </table>
        
        <div class="btn-box">
            <button type="button" class="btn btn-danger" onclick="window.location.href='index.php?step=2';">后退</button>
            <button type="button" class="btn btn-danger" onclick="DoInstall();">开始安装</button>
      </div>
    </div>
</div>
<div class="foot">
</div>
</form>
</body>
</html>
