* {
	scrollbar-width:thin;
	letter-spacing:0.5px
}
body {
	line-height:1.5;
	font-size:14px;
	font-family:Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	color:#6c757d;
	background:#fff
}
blockquote {
	padding:1rem 0;
	font-style:italic;
	border-style:solid;
	border-color:#6c757d;
	border-width:0
}
a {
	color:#007bff
}
ol,ul,dl {
	padding:0 20px
}
h1,h2,h3,h4,h5,h6 {
	line-height:1.2;
	font-weight:600;
	color:#343a40
}
hr {
	border:0px;
	border-top:1px solid #6c757d
}
pre {
	white-space:pre-wrap;
	word-wrap:break-word;
	-moz-tab-size:3;
	tab-size:3
}
span[lang] {
	font-style:italic
}
figure {
	display:inline-block;
	margin:1rem;
	padding:1rem;
	background:rgba(0,0,0,0.05);
	outline:solid 1px #ccc;
	text-align:center
}
figure>figcaption {
	display:block;
	text-align:center
}
img {
	max-width:100%;
	border-radius:0.5rem
}
a>img {
	margin:1px;
	padding:1px;
	border:none;
	outline:1px solid #1eb867
}
img.right {
	float:right;
	margin-left:1rem;
	padding:1rem;
	border:1px solid #6c757d
}
img.left {
	float:left;
	margin-right:1rem;
	padding:1rem;
	border:1px solid #6c757d
}
.marker {
	background-color:Yellow
}
.cke_editable {
	word-wrap:break-word
}
.cke_contents_ltr blockquote {
	padding-left:1rem;
	padding-right:0.75rem;
	border-left-width:5px
}
.cke_contents_rtl blockquote {
	padding-left:0.75rem;
	padding-right:1rem;
	border-right-width:5px
}
.code-featured {
	border:5px solid red
}
.math-featured {
	padding:1rem;
	box-shadow:0 0 2px rgba(200,0,0,1);
	background-color:rgba(255,0,0,0.05);
	margin:10px
}
.image-clean {
	padding:0;
	background:none;
	border:0
}
.image-clean > figcaption {
	text-align:right
}
.image-grayscale {
	background-color:white;
	color:#6c757d
}
.image-grayscale img,img.image-grayscale {
	filter:grayscale(100%)
}
.embed-240p {
	max-width:426px;
	max-height:240px;
	margin:0 auto
}
.embed-360p {
	max-width:640px;
	max-height:360px;
	margin:0 auto
}
.embed-480p {
	max-width:854px;
	max-height:480px;
	margin:0 auto
}
.embed-720p {
	max-width:1280px;
	max-height:720px;
	margin:0 auto
}
.embed-1080p {
	max-width:1920px;
	max-height:1080px;
	margin:0 auto
}